*{
    margin:0;
    padding: 0;
}

.first{
    width:100%;
    height:4000px;
   background-color:bisque;
    overflow: hidden;
}
.first .carousel{
    width: 350px;
    height:300px;
    margin: 100px auto 0;
  
    overflow: visible;
}

.carousel img{
    -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    width:300px;
    height:300px;

}
.gallery {
    width:1000px;
    height:50px;
    color: brown;
     font-size: larger;
    font-style: italic;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:15%;  
    margin-top:20px;
    display: flex;  
    justify-content: center;
    letter-spacing: 1px;
    text-transform:uppercase;


}
h1{
    background:linear-gradient(90deg,#00dbde,#fc00ff );
    font-family: poppins;
    text-decoration: underline;
    font-size: 40px;
    text-transform: uppercase;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
   

}